<app-navbar></app-navbar>
    <app-section1></app-section1>
    <section id="my-images-section" class="my-images-section">
        <div class="container">
            <h3 class="text-center text-white helper-font-regular ">Contact me</h3>
            <div class="row">
                <div class="col-md-2 ">
                <a href="https://www.instagram.com/direct/inbox/" >
                    <img src="./assets/images/insta.png" style="width: 50px;height: 50px;" class="img-fluid  img-center" alt="">
                </a>
                </div>
                <div class="col-md-2 ">
           
                <a href="https://web.telegram.org/#/im?p=u777000_14098853153653536049" >
                    <img src="./assets/images/Group 2.png" style="width: 50px;height: 50px;" class="img-fluid  img-center" alt="">
                </a>
            </div>
            <div class="col-md-2 ">
                 <a href="mailto:mouhihamohamed@gmail.com.com/" >
                    <img src="./assets/images/mail.png" style="width: 50px;height: 50px;" class="img-fluid  img-center" alt="">
                </a>
                </div>
                <div class="col-md-2 ">
                 <a href="https://www.linkedin.com/in/mouhiha-mohamed-a0657b1a3/" >
                    <img src="./assets/images/Vector.png" style="width: 50px;height: 50px;" class="img-fluid  img-center" alt="">
                </a>
               </div>
               <div class="col-md-2 ">
            
                    <a href="http://www.tutorialehtml.com/" >
                    <img src="./assets/images/face.png" style="width: 50px;height: 50px;" class="img-fluid  img-center" alt="">
                </a>
                
</div>
               
              </div>
            </div>
    </section>
    <app-footer></app-footer>
 <!-- <a href="http://www.tutorialehtml.com/" >
        <img alt="texte alternatif pour le lien image" src="/assets_tutorials/img/image.jpg" width="120" height="75" />
    </a>-->  