<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mouhiha mohamed</title>
    
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>


    <section>
        <nav class="navbar navbar-expand-sm navbar-light secondary-background ">
            <a class="navbar-brand brand-color primary-font-regular" href="#" >Mouhiha mohamed</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link text-white secondary-font-regular" [routerLink]="['/']">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white secondary-font-regular" [routerLink]="['/about']">About </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white secondary-font-regular" [routerLink]="['/portfolio']">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white secondary-font-regular" [routerLink]="['/contact']">Contact</a>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </section>
    </body>
    </html>