<app-navbar></app-navbar>
<app-section1></app-section1>
<section id="who-i-am-section" class="who-i-am-section mt-4">
  <div class="container">
    <h3 class="text-center text-white helper-font-regular ">Who I am</h3>
    <hr width="10%" class="third-background mx-auto">
    <div class="row">
      <div class="col-md-6 mt-4">
        <p class="text-white secondary-font-regular" style="line-height: 44px;">Hi, I hope you are doing well!
          My name is Mouhiha Mohamed, I'm 20 years old. I love technology and informatics, especially web application programming and websites.
          I hope to provide a service that will benefit this world. </p>
      </div>
      <div class="col-md-6 ">
        <img src="./assets/images/MOI.jpg" style="width: 200px;height: 200px;border-radius: 100px;" class="img-fluid  img-center" alt="">
      </div>
    </div>
  </div>
</section>
<section id="who-i-am-section" class="who-i-am-section mt-4">
    <div class="container">
      <h3 class="text-center text-white helper-font-regular ">My Studies</h3>
      <hr width="10%" class="third-background mx-auto">
      <div class="row">
        <div class="col-md-6 ">
            <img src="./assets/images/Layer 3.png" style="width: 300px;height: 300px;" class="img-fluid  img-center" alt="">
          </div>
        <div class="col-md-6 mt-4">
          <p class="text-white secondary-font-regular" style="line-height: 44px;">
            . THE YEAR 2020:<br>
            Professional license at the multi-disciplinary faculty of Sidi
            Bennour
            ∙ THE YEAR 2018:<br>
            THE HIGHER SCHOOL OF TECHNOLOGY OF SIDI BENNOUR<br>
            (Chouaib doukkali University)<br>
            ∙ THE YEAR 2015:<br>
            High school el Ouard<br>
            Bac in 2018<br>
            ∙ THE YEAR 2012:<br>
            College el Ouard </p>
        </div>
        
      </div>
    </div>
  </section>
  <app-footer></app-footer>