
<section id="first-section" class="first-section">
    <div class="container mt-4">
        <div class="row mt-4">
            <div class="col-md-6 mt-4">
                <img src="./assets/images/Layer 2.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 mt-4 pl-5 ">
                <h1 class="text-white secondary-font-regular" style="line-height: 56px;">Hi , I am <br>
                Mouhiha Mohamed</h1>
                <h1 class="text-white secondary-font-regular" style="line-height: 58px;">I am a <span class="third-color"> developer </span></h1>
            </div>
        </div>
    </div>
</section>
